export(buildSetCollection,createIDConverter, setRankAnalysis)
S3method(getSetPValue, RankedTestSet)
S3method(getSetPValue, UnrankedTestSet)
S3method(getSetPairStatistics, RankedTestSet)
S3method(getSetPairStatistics, UnrankedTestSet)
import(igraph, parallel, data.table)
